<!DOCTYPE html>
<html lang = "es">

<head>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel = "stylesheet" filename = "/Pagina/Frontend/style.css">
    <title>Convertor Braille</title>
    <script>
        window.onload = function (){
            const alertMessage = "{{alert_message}}"
            if(alertMessage){
                alert(alertMessage);
            }
        };
    </script>
</head>

<body>

    <h1>WebSocket Client</h1>
    <p> Texto para rellenar jijiji ja (hagan el front)</p>
    <form id="uploadForm" action="upload" method="POST" enctype="multipart/form-data">
        <section>        
            <label>Sube archivo o gei </br>
                <input type="file" name="file" accept=".pdf,image/*" required>
            </label>
            <button type="submit">Upload</button>    
        </section>
    </form>
</body>
</html>